.section {
  color: white;
  width: 100%;
}
.section h2 {
  font-weight: 100;
  font-family: sans-serif;
  font-size: 1.5rem;
  margin: 1rem 1rem 1rem 3rem;
  letter-spacing: 1px;
}
.section h1 {
  margin: 0 0 1rem 3rem;
  font-size: 1.75rem;
  font-weight: 400;
}
.search {
  position: relative;
  width: 90%;
  margin: auto;
}
.search input[type="text"] {
  padding: 1.5rem 3rem;
  width: 85%;
  margin: 1rem auto;
  font-size: 1rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  background-color: var(--blue03);
  color: lightgray;
}
.search .searchIcon {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}
.section .movie__section .movies,
.movies {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.section .trending__movies {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.trending__wrapper {
  width: 90%;
  margin: auto;
}
.trending__movies .movie {
  width: 32%;
  margin: 1rem;
}
.bookmarkMovies h1 {
  color: white;
  text-align: center;
}
.section .upcoming_movies {
  width: 1200px;
  margin: auto;
  position: relative;
  overflow-x: hidden;
  margin-bottom: 2rem;
}
.upcoming_movies .movie {
  width: 180px;
  margin: 0 10px;
  overflow: hidden;
}
.upcoming_movies .movie .movie_img {
  width: auto;
  object-fit: contain;
  cursor: auto;
}
.section .upcoming_movies .movies_wrapper {
  display: flex;
  position: relative;
  left: 0;
  transition: all 0.25s ease-out;
  width: fit-content;
  cursor: pointer;
}
h1.page_heading {
  text-align: left;
  margin-left: 3rem;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
}
.categories_filter {
  margin: 1rem 0;
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.categories_filter .movie_categoryList {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}
.categories_filter li {
  padding: 3px 10px;
  border-radius: 20px;
  list-style: none;
  box-shadow: 0 0 1px 1px lightgray;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.35s ease-out;
}
.categories_filter li:hover {
  background-color: white;
  color: var(--blue03);
}
.genre {
  color: lightgray;
}
.active_category {
  background-color: white;
  color: var(--blue03);
}
@media screen and (min-width: 1200px) {
  .section .movie__section {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .section .movie__section {
    width: calc(100vw - 10rem);
  }
  .search {
    margin-left: 6rem;
  }
  .section h1 {
    margin-left: 6rem;
  }
}
