/*movieCard*/
.heroImages {
  width: fit-content;
  height: 80vh;
  display: flex;
  overflow: hidden;
  /* animation: imageSlider; */
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  filter: grayscale(0.5);
}

@keyframes imageSlider {
  0% {
    transform: translateX(0vw);
  }
  20% {
    transform: translateX(0vw);
  }
  25% {
    transform: translateX(-100vw);
  }
  40% {
    transform: translateX(-100vw);
  }
  45% {
    transform: translateX(-200vw);
  }
  70% {
    transform: translateX(-200vw);
  }
  75% {
    transform: translateX(-300vw);
  }
  95% {
    transform: translateX(-300vw);
  }
  100% {
    transform: translateX(0vw);
  }
}
.heroImages .moviecard {
  width: 100vw;
  height: 100%;
  position: relative;
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
}

.moviecard_info {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.moviecard_info h1 {
  font-size: 2.75rem;
  margin: 1rem 0;
}
.moviecard_info p {
  max-width: 40%;
  line-height: 1.4rem;
}
.moviecard_info .movie_link {
  list-style: none;
  width: fit-content;
  margin-top: 2rem;
}
.moviecard_info .movie_link:hover a {
  color: lightgray;
}
.moviecard_info .movie_link a {
  text-decoration: none;
  color: white;
  padding: 1rem 1.5rem;
  background-color: var(--blue03);
  transition: all 0.25s ease-out;
  border-radius: 5px;
}
/*CAROUSEL*/
.imageCarousel {
  position: relative;
}
.carousel {
  width: 80%;
  height: 50vh;
  overflow: hidden;
  margin: auto;
}
.carousel-container {
  display: flex;
  height: 100%;
  position: relative;
  left: 0%;
  transition: all 0.25s ease-out;
}
.carousel_wrapper {
  width: 100%;
  height: 100%;
}
.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-container img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.301);
}
/* .indicators-container {
  display: flex;
  margin: auto;
  width: fit-content;
}
.indicator {
  width: 1rem;
  height: 1rem;
  background-color: #5b6f8a;
  border-radius: 0.5rem;
  margin: 0.1rem;
  cursor: pointer;
} 
.indicator-colors {
  background-color: red;
}*/
.imageCarousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(199, 199, 199);
  z-index: 10;
  border: none;
  transition: all 0.25s ease-out;
  cursor: pointer;
  padding: 5px;
}
.imageCarousel button:hover {
  background-color: rgb(231, 229, 229);
}
.imageCarousel button svg {
  width: 2rem;
  height: 2rem;
}
.imageCarousel button:first-child {
  left: 10%;
}
.imageCarousel button:last-child {
  right: 10%;
}
.section {
  color: white;
  width: 100%;
}
h1.heading {
  margin: 2rem auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
.search {
  position: relative;
  width: 90%;
  margin: auto;
}
.search input[type="text"] {
  padding: 1.5rem 3rem;
  width: 85%;
  margin: 1rem auto;
  font-size: 1rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  background-color: var(--blue03);
  color: lightgray;
}
.search .searchIcon {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}
.section .movie__section .movies,
.movies {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.section .trending__movies {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.trending__wrapper {
  width: 90%;
  margin: auto;
}
.trending__movies .movie {
  width: 32%;
  margin: 1rem;
}
.bookmarkMovies h1 {
  color: white;
  text-align: center;
}
.section .upcoming_movies {
  width: 1200px;
  position: relative;
  overflow-x: hidden;
  margin: 2rem auto;
}
.upcoming_movies .movie {
  width: 180px;
  margin: 0 10px;
  overflow: hidden;
}
.upcoming_movies .movie .movie_img {
  width: auto;
  object-fit: contain;
  cursor: auto;
}
.section .upcoming_movies .movies_wrapper {
  display: flex;
  position: relative;
  left: 0;
  transition: all 0.25s ease-out;
  width: fit-content;
  cursor: pointer;
}
h1.page_heading {
  text-align: left;
  margin-left: 3rem;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
}
.categories_filter {
  margin: 1rem 0;
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.categories_filter .movie_categoryList {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}
.categories_filter li {
  padding: 3px 10px;
  border-radius: 20px;
  list-style: none;
  box-shadow: 0 0 1px 1px lightgray;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.35s ease-out;
}
.categories_filter li:hover {
  background-color: white;
  color: var(--blue03);
}
.genre {
  color: lightgray;
}
.active_category {
  background-color: white;
  color: var(--blue03);
}
@media screen and (min-width: 1200px) {
  .section .movie__section {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .section .movie__section {
    width: calc(100vw - 10rem);
  }
  .search {
    margin-left: 6rem;
  }
  .section h1 {
    margin-left: 6rem;
  }
}
