:root {
  --blue00: #253258;
  --blue01: #161d2f;
  --blue03: #08132b;
  --blue02: #6578ac;
  --blue04: #203264;
  --red00: rgb(238, 23, 23);
  --white: #ffffff;
  --gray00: rgba(25, 21, 21, 0.53);
  --gray01: rgba(224, 224, 224, 0.904);
}
