.moviedetail_container {
  width: 100%;
  background-position: center;
  background-size: cover;
  padding: 1rem 0;
}
.moviedetail_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray01);
  width: 90%;
  margin: auto;
  text-align: center;
}
.moviedetail .moviedetail_img {
  width: 250px;
  margin-top: 3rem;
}
.movieInfo {
  margin-top: 2rem;
  width: 85%;
}
.movieInfo h2 {
  font-family: var(--sec-font);
  font-weight: 800;
  color: var(--pr-clr);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.movieInfo h3 {
  margin-right: 0.5rem;
  color: rgb(243, 243, 243);
}
.movieInfo p {
  color: rgb(226, 226, 226);
}
.movieInfo_description,
.movieInfo_genre,
.movieInfo_rating {
  margin: 1rem 0;
}
.movieInfo_description {
  position: relative;
}
.movieInfo_description p {
  transition: all 0.25s ease-out;
  margin: 1rem 0 0 0;
  text-align: left;
}
.movieInfo_description .read_btn {
  transition: all 0.25s ease-out;
  cursor: pointer;
  position: absolute;
  bottom: -1.25rem;
  left: 0;
  font-weight: 700;
  color: var(--pr-clr);
}
.movieInfo_description .desc_container {
  overflow: hidden;
  max-height: 75px;
  transition: all 0.25s ease-out;
}
.movieInfo_date,
.movieInfo_genre,
.movieInfo_rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.movieInfo_date p:first-child,
.movieInfo_genre p:first-child,
.movieInfo_rating p:first-child {
  font-weight: 600;
  margin: 0 0.5rem 0 0;
  font-size: 1.15rem;
}
.movieInfo_date {
  margin-top: 2rem;
}
.movieInfo_genre p {
  padding: 2px 8px;
  margin: 0.5rem 0 0.5rem 0.5rem;
  box-shadow: 0 0 1px 1px gainsboro;
  border-radius: 1.2rem;
}
.moviedetail h1 {
  color: white;
  font-weight: 400;
  margin: 0 0 1rem 3rem;
}
.similar_movies {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.similar_movies .movie {
  color: white;
}
.similar_movies::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--blue02);
  border-radius: 1rem;
  margin-left: 1rem;
}
::-webkit-scrollbar-track {
  background: #253258;
}
.similar_movies h1 {
  margin: 1rem 0;
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
  color: var(--pr-clr);
}
@media screen and (min-width: 768px) {
  .movieInfo {
    max-width: 30rem;
    margin: 0;
    text-align: left;
  }
  .moviedetail .moviedetail_img {
    margin: 0;
  }
}
@media screen and (min-width: 1000px) {
  .moviedetail_wrapper {
    flex-direction: row;
    height: 600px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
  }
  .similar_movies {
    width: 95%;
    margin: auto;
  }
  .moviedetail .moviedetail_img {
    margin-right: 2rem;
  }
  .movieInfo_description .desc_container {
    width: 25rem;
  }
}
@media screen and (min-width: 1400px) {
  .moviedetail_wrapper {
    margin-left: 10%;
  }
  .movieInfo_description .desc_container {
    width: 30rem;
  }
}
